@charset "utf-8";

@import url('https://fonts.googleapis.com/css?family=Righteous&display=swap&subset=latin-ext');
@import url('https://fonts.googleapis.com/css?family=Poppins:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i');
@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,500,700,700i,900&display=swap');
@import url('https://fonts.googleapis.com/css?family=Open Sans:400,600,700,800,800i&display=swap');


/* CSS Document */
.search {
     padding: 24px 0;
     text-align: right;
}

.form_sea {
     border-radius: 20px;
     border: #fff solid 1px;
     padding: 0px 15px;
     color: #000;
     height: 32px;
     position: relative;
     width: 100%;
}

.seach_icon {
     position: absolute;
     margin-left: -25px;
     z-index: 999;
     background: transparent;
     padding: 3px 0px 0px 0px;
     color: #222222;
}

h1,
h2,
h3,
h4,
h5,
h6 {
     letter-spacing: 0;
     font-weight: normal;
     position: relative;
     padding: 0 0 10px 0;
     font-weight: normal;
     line-height: normal;
     color: #111111;
     margin: 0
}

h1 {
     font-size: 24px;
}

h2 {
     font-size: 18px;
}

h3 {
     font-size: 18px;
}

h4 {
     font-size: 16px
}

h5 {
     font-size: 14px
}

h6 {
     font-size: 13px
}

h1 a,
h2 a,
h3 a,
h4 a,
h5 a,
h6 a {
     color: #212121;
     text-decoration: none!important;
     opacity: 1
}

button:focus {
     outline: none;
}

a {
     color: #222222;
     text-decoration: none;
     outline: none !important;
}


a,
.btn {
     text-decoration: none !important;
     outline: none !important;
     -webkit-transition: all .3s ease-in-out;
     -moz-transition: all .3s ease-in-out;
     -ms-transition: all .3s ease-in-out;
     -o-transition: all .3s ease-in-out;
     transition: all .3s ease-in-out;
}

 /*img {
    max-width: 100%; 
     height: auto;
}*/


.banner_main {
     background: url(../images/Banner.jpg);
     padding: 97px 0px 0px 0px;
     background-size: 100% 100%;
     background-repeat: no-repeat;
     min-height: 698px;
}

.unibazar{
     color: #545454;
	 border-color: #D13239;
     font-family: 'Open Sans', cursive;
     font-size: 90px;
}

.bazar{
     color: #D13239;
	 border-color: #D13239;
     font-family: 'Open Sans', cursive;
     font-size: 60px;
}

.text-bg {
     text-align: left;
}


.text-bg p {
     color: #2a2a2c;
     line-height: 30px;
     font-size: 33px;
     margin-bottom: 50px;
}

.ban_img {
margin-right: -45px;
position: absolute;
}

.text-bg h1 {
     color: #808285;
     font-size: 116px;
     line-height: 120px;
     padding-bottom: 50px;
     font-weight: 400;
}

.text-bg p {
     color: #2a2a2c;
     line-height: 30px;
     font-size: 33px;
     margin-bottom: 50px;
}

.text-bg .read_more {
     font-weight: 500;
     background: #D13239;
     color: #fff !important;
     border-radius: 43px;
     margin-right: 25px;
     padding: 13px 0;
     max-width: 210px;
}

.text-bg .read_more:hover {
     background: #808285;
     color: #000 !important;
}

.ban_img figure {
     margin: 0;
}

.ban_img figure img {
     width: 100%;
}

/** project section **/

.project {
     background-size: 100% 100%;
     background-repeat: no-repeat;
     padding: 90px 0 90px 0;
}

.project .titlepage {
     text-align: left;
}

.project .titlepage h2 {
     margin-bottom: 40px;
     padding-bottom: 10px;
     border-bottom: #D13239 solid 5px;
}

.project .titlepage p {
     font-size: 17px;
     line-height: 30px;
     font-weight: 400;
     padding-top: 10px;
     color: #fff;
}
.product_main {display:flex; flex-wrap: wrap; justify-content: center;}
.project .project_box {
     text-align: center;
max-width: 17.3%;
margin: 0 15px 20px 15px;
}

.dark_white_bg {
     background: #f2f2f2;
     height: 257px;
     display: flex;
     flex-wrap: wrap;
     align-items: center;
     justify-content: center;
}

.project .project_box h3 {
     color: #1c1c1b;
     font-size: 15px;
     line-height: 20px;
     padding: 22px 0px 0px 0px;
     text-align: left;
}

.project .read_more {
     margin-top: 50px !important;
     margin: 0 auto;
     display: block;
     text-transform: none;
     color: #fff;
     background: #2a2a2c;
     text-align: center;
     padding: 10px 0;
}

.project .read_more:hover {
     background-color: #D13239;
}


/** end project section **/




/** footer **/

.footer {
     background: #2a2a2c;
     padding-top: 170px;
     text-align: center;
}

.footer h3 {
     color: #fff;
     font-size: 20px;
     line-height: 20px;
     text-transform: uppercase;
     text-align: left;
     padding-bottom: 20px;
     font-weight: 600;
}

.footer p {
     color: #fff;
     font-size: 17px;
     line-height: 32px;
     text-align: left;
     padding-right: 31px;
     font-weight: 400;
     display: inline-block;
}

.copyright {
     margin-top: 80px;
     padding-bottom: 20px;
     background: #fbfdfd;
}

.copyright p {
     color: #292929;
     font-size: 18px;
     line-height: 22px;
     text-align: center;
     padding-top: 25px;
     font-weight: normal;
     padding-right: 0 !important;
}

.copyright a {
     color: #292929;
}

.copyright a:hover {
     color: #f9bf16;
}